[user]
	email = {{ cli_mail }}
	name = {{ cli_commit_name }}
[credential]
	helper = osxkeychain
[pull]
	ff = only
[init]
	defaultBranch = master
[includeIf "gitdir:{{ cli_work_projects_dir }}/"]
    path = {{ cli_work_projects_dir }}/.gitconfig
