# Use short paths for default theme
set -g theme_short_path yes

# From https://gist.github.com/supermarin/6dca255da372c3f9eb26
function man
env \
    LESS_TERMCAP_mb=(printf "\e[1;31m") \
    LESS_TERMCAP_md=(printf "\e[1;31m") \
    LESS_TERMCAP_me=(printf "\e[0m") \
    LESS_TERMCAP_se=(printf "\e[0m") \
    LESS_TERMCAP_so=(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=(printf "\e[0m") \
    LESS_TERMCAP_us=(printf "\e[1;32m") \
        man "$argv"
end

# Support iterm2 fish integration
source {{ cli_install_dir }}/.iterm2_shell_integration.fish

# Enable rust environment
export PATH="$HOME/.cargo/bin:$PATH"
